<html lang="en">
  {{> "head/head"}}
  <body>
    <div class="gradient df-center full-screen">
      <div class="modal df-column-center">
          {{{body}}}
      </div>
    </div>
  </body>
</html>
