<div class="chat">
  <div>
    {{> 'avatar/avatar' img=chat.img}}
    <p class="chat-name">{{chat.chatname}}</p>
  </div>
  {{#if chat.newMessageCount}}
    <div class="new-message-count">{{chat.newMessageCount}}</div>
  {{/if}}
</div>
<script>
</script>
