<html lang="en">
  {{> "head/head"}}
  <body>
    <div class="gradient df-center full-screen profile-wrapper">
        {{> "close-button/close-button"}}
        {{{body}}}
    </div>
  </body>
</html>
