---
title: 'Profile'
goback: './profile.hbs'
---

{{!< profile/profile }}
<div class="df-column-center">
{{> 'avatar/avatar' img=""}}
{{> "form-input/form-input" placeholder='Old password' name="oldPassword"}}
{{> "form-input/form-input" placeholder='New password' name="newPassword"}}
{{> "form-input/form-input" placeholder='New password again' name="newPasswordAgain"}}
{{> "button-submit/button-submit" text='Save'}}
</div>
