{{!< body }}
<div class="df-column-center">
{{> "link/link" text='sing in' link="./sing-in.hbs"}}
{{> "link/link" text='registration' link="./registration.hbs"}}
{{> "link/link" text='chats' link="./chats.hbs"}}
{{> "link/link" text='404' link="./404.hbs"}}
{{> "link/link" text='500' link="./500.hbs"}}
{{> "link/link" text='profile' link="./profile.hbs"}}
{{> "link/link" text='change password' link="./change-password.hbs"}}
{{> "link/link" text='edit profile' link="./edit-profile.hbs"}}
{{> "link/link" text='new avatar' link="./new-avatar.hbs"}}
</div>
