---
title: 'Registration'
---

{{!< gradient-modal/gradient-modal}}
<h1>Registration</h1>
<form action="" class="df-column-center">
  {{> "form-input/form-input" placeholder='Email' name="email"}}
  {{> "form-input/form-input" placeholder='Login' name="login"}}
  {{> "form-input/form-input" placeholder='First name' name="first_name"}}
  {{> "form-input/form-input" placeholder='Second name' name="Second_name"}}
  {{> "form-input/form-input" placeholder='Phone' name="phone" type="phone"}}
  {{> "form-input/form-input" placeholder='Password' name="password"}}
  {{> "form-input/form-input" placeholder='Password again' name="password_again"}}
  {{> "button-submit/button-submit" text='Create user'}}
</form>
{{> "link/link" text='sing in' link="./sing-in.hbs"}}
