.avatar {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: white;
  margin-bottom: 2em;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    &.default {
      object-fit: contain;
      padding: 10%;
      box-sizing: border-box;
    }
  }
  &__overflow {
    text-decoration: none;
    color: white;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: black, $alpha: 0.65);
    & p {
      text-align: center;
    }
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}
