.form-input {
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
  }
  &:disabled {
    border-color: white;
    background-color: rgba($color: white, $alpha: 0.9);
  }
  padding: 0.5em 1em;
  font-weight: 600;
  line-height: 1;
  color: black;

  transition: 0.2s;
  text-align: center;
  outline: none;
  &::placeholder {
    font-weight: 300;
    letter-spacing: 2;
  }
  & + label {
    opacity: 0;
    transition: 0.2s;
    padding-left: 1em;
    color: white;
    font-size: 0.8em;
    text-shadow: 0.5px 0px 0.5px black;
  }
  &:not(:placeholder-shown) {
    & + label {
      opacity: 1;
    }
  }
  &:focus {
    &::placeholder {
      color: transparent;
    }
    & + label {
      opacity: 1;
    }
  }
}
